@charset "UTF-8";

/*검색창*/
#jsearch{
    width: 478px;
    height: 42px;
    border: 2px solid #0000ff;
    margin-left: 540px;
    margin-top: 38px;
    margin-bottom: 10px;
}

#ip-search{
    width: 420px;
    padding: 16px 0px 9px 0px;
    border: 1px solid #0000ff;
    
}

#search-but{
    width: 58px;
    color: #ffffff;
    border: 1px solid #0000ff;
    background-color: #0000ff;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    font-size: 18px;
}

#search-but:active{
    background-color: #00ff00;
}
/*라디오버튼*/
.rao-blog{
    margin-left: 12px;
}

#rao-blogbut,#rao-blogbut2{
    margin-right: 12px;
}

#rao-all{
    margin-bottom: 500px;
}