<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>mysite</title>
    <link rel="stylesheet" href="../../assets/css/mysite.css">
    <link rel="stylesheet" href="../../assets/css/gallery.css">
</head>

<body>
    <div id="wrap">
        <div id="header" class="clearfix">
            <h1>MySite</h1>

            <ul class="clearfix">
                <li><a href="">로그인</a></li>
                <li><a href="">회원가입</a></li>
            </ul>


        </div>

        <div id="nav">
            <ul class="clearfix">
                <li><a href="">입사지원서</a></li>
                <li><a href="">게시판</a></li>
                <li><a href="">갤러리</a></li>
                <li><a href="">방명록</a></li>
            </ul>
        </div>


        <div id="contents2" class="clearfix">
            <div id="aside">
                <h2>갤러리</h2>


                <ul>
                    <li><a href="">일반갤러리</a></li>
                    <li><a href="">파일첨부연습</a></li>
                </ul>

            </div>
            <div id="main" class="clearfix">
                <div id="search" class="clearfix">
                    <h3>갤러리</h3>
                        <ol class="clearfix">
                            <li>홈</li>
                            <li>갤러리</li>
                            <li>일반갤러리</li>
                        </ol>
                </div>
                
                <div id="img-up" class="clearfix">
                    <button id="img-button">이미지올리기</button>
                </div>

                <div id="img-id" class="clearfix">
                    <div>
                        <a href=""><img src="../../assets/images/Gangho-dong.jpg"><p>작성자:박종희</p></a>
                    </div>
                    <div>
                        <a href=""><img src="../../assets/images/Jeongjae-Lee.jpg"><p>작성자:박종희</p></a>
                    </div>
                    <div>
                        <a href=""><img src="../../assets/images/JeonSoMin.jpg"><p>작성자:박종희</p></a>
                    </div>
                    <div>
                        <a href=""><img src="../../assets/images/JiseokJin.jpg"><p>작성자:박종희</p></a>
                    </div>
                    <div>
                        <a href=""><img src="../../assets/images/JungWooSung.jpg"><p>작성자:박종희</p></a>
                    </div>
                </div>
            </div>
        </div>


        <div id="footer">
            <p>
                Copyright (c)2024 황일영 All right reserved
            </p>
        </div>
    </div>
</body>



</html>