@charset "UTF-8";

table{
    width: 900px;
    border: 1px solid #000000;
    border-collapse: collapse;
}

table>thead>tr{
    background-color: #dddddd;
}

table>thead>tr>th, table>tbody>tr>td{
    border: 1px solid #000000;
    text-align: center;
    border-left: hidden;
    border-right: hidden;
}

table>tbody>tr>td{
    border: 1px dotted #000000;
    border-left: hidden;
    border-right: hidden;    
}

table>thead>tr>th{
    font-weight: bold;
}

table>tbody>tr:hover{
    background-color: #ffff00; 
}


.txt{
    color: #0000ff;
    text-decoration: underline;
    text-decoration-color: #0000ff;
}