@charset "UTF-8";

body, div, ul, li, dl, dt, ol, 
h1, h2, h3, h4, h5, h6, input, 
fieldset, legend, p, select, table, 
th, td, tr, textarea, button, form{
    margin: 0px;
    padding: 0px;
}

.clearfix:before, .clearfix:after {
    display: block; 
    content: ""; 
    line-height: 0;
}
.clearfix:after {
    clear: both;
}

ol {
    margin-bottom: 10px;
}
ol, ul{
    list-style: none;
}

ol>li {
    margin: 0px;
    float: left;
}

ol>li::after{
    content: ">";
}

li:last-child:after {
    content: "";
}

body{
    background-color: #808080;
    font-family: "맑은 고딕";
    font-size: 12px;
}

.remain{
    width: 600px;
    background-color: #ffffff;
}

.remain h3 {
    font-size: 18px;
    font-weight: bold;
}

.remain .form-group{
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #000000;
}

.remain .form-title{
    display: inline-block;
    width: 120px;
    font-size: 12px;
    text-align: center;
}

input, select, textarea {
    font-size: 15px;
}

.remain .form-group input[type="radio"], input[type="checkbox"]{
    margin-right: 10px;
}

.btn-area {
    padding: 10px 0px 0px 0px;
    text-align: center;
}

.btn {
    width: 120px;
    padding: 10px 0px 10px 0px;
}

.address{
    width:350px;
}

#address2{
    margin-bottom: 5px;
}

.address3{
    height: 60px;
    float: left;
}

#txt-me{
    width: 400px;
    height: 100px;
    resize: none
}

.aboutme{
    height: 5px;
    float: left;
}

.new{
    margin-bottom: 10px;
}
