@charset "UTF-8";

/*검색*/
#sel{
    float: right;
    margin: 20px 1px 2px 0px;
}

#txt-sel{
    width: 140px;
    padding: 5px 2px 1px 0px;
}

#txt-button{
    padding: 2px 10px 2px 10px;
    margin: 2px 5px 2px 2px;
}
/*게시판*/
table{
    width: 820px;
    border: 1px solid #000000;
    border-collapse: collapse;
}

table>thead>tr{
    background-color: #dddddd;
}

table>thead>tr>th, table>tbody>tr>td{
    border: 1px solid #000000;
    text-align: center;
    padding: 10px 0px 10px 0px;
    border-left: hidden;
    border-right: hidden;
}

table>thead>tr>th{
    font-weight: bold;
}

table>tbody>tr:hover{
    background-color: #ffff00; 
}

.txt-left{text-align: left;}

/*번호넘기기*/
#num ol{
    width: 41.5%;
    margin: 0 auto;
}

#num ol>li{
    float: left;
    margin: 0px 10px 0px 10px;
}

/*글쓰기 버튼*/

#writing{
    float: right;    
}

#wr-button{
    margin: 10px 0px 10px 0px;
    padding: 2px 6px 2px 6px;
}