@charset "UTF-8";

/*작성*/
label{
    float: left;
    margin-right: 30px;
}

#writer{
    margin-top: 20px;
}

.mar-top{
    margin-top: 10px;
}

#tit-litle{
    margin-bottom: 15px;
}

#pad-left{
    padding-left: 65px;
}

#write{
    border-bottom: 1px solid #000000;
}

/*내용*/
#detail{
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #000000;
}

/*버튼*/
#El-but{
    float: right;
}

.El-button{
    width: 70px;
    height: 30px;
    margin: 10px 0px 10px 7px;
}