@charset "UTF-8";
/*글쓰기*/
#tit-registration{
    margin: 20px 0px 10px 0px;
}

input{
    width: 764px;
    height: 28px;
}

textarea{
    width: 810px;
    height: 400px;
}

/*버튼*/
#registration-but{
    float: right;
}

.registration-button{
    width: 70px;
    height: 28px;
    margin: 8px 0px 10px 7px;
}