@charset "UTF-8";

/*이미지 올리기*/
#img-up{
    
}

#img-button{
    float: right;
    margin: 10px 0px 10px 0px;
    padding: 6px 2px 6px 2px;
}

#img-id>div{
    width: 198px;
    float: left;
    margin: 2px 2px 2px 2px;
    border: 1px solid #b8b4b4;
}

#img-id>div>a>img{
    display: block;
    width: 188px;
    margin: 0 auto;
}

#img-id>div>a>p{
    padding: 3px 0px 3px 5px;
    font-weight: bold;
}